.form
	margin-top 6px
	padding-top 38px
	padding-right 24px
	padding-bottom 55px
	padding-left 24px
	width 292px
	float right
	background url('../images/general/pattern.png') 0 0 repeat, radial-gradient(circle at 0 0, #fbfdff, #eff1f4)
	border 2px solid #ff5361
	+r($t)
		margin-bottom 30px
		padding-bottom 38px
		width 100%
	+r($m)
		margin-top 30px
	&__title
		margin-bottom 33px
		font-size 24px
		color #2e3e57
		text-align center
		+r($t)
			padding-left 30px
			text-align left
		+r($m)
			padding-left 0
			font-size 18px
			text-align center
	&__area
		clr()
	&__field
		margin-bottom 20px
		border 2px solid #dddddd
		background-color #ffffff
		+r($m)
			margin-bottom 10px

	&__input
		padding-left 16px
		padding-right 16px
		border none
		width 100%
		height 35px
		color #2e3e57
		+placeholder()
			color #b6b6b6
		+r($m)
			height 28px
	&__message
		padding-top 14px
		padding-left 16px
		padding-right 16px
		border none
		width 100%
		min-height 188px
		color #2e3e57
		+placeholder()
			color #b6b6b6
	&__submit
		margin-top 3px
		margin-bottom 25px
		@extends .button-big
		width 100%
		font-size 24px
		+r($m)
			font-size 16px
	&__privacy
		display block
		cursor pointer
		font-size 16px
		font-family $rR
		line-height 1.2
		+r($t)
			clear left
	&__checkbox
		position relative
		margin-right 15px
		margin-bottom 5px
		float left
		width 26px
		height 26px
		text-align left
		background #FFF
		&:before
			position absolute
			top 0
			left 0
			width 26px
			height 26px
			border 1px solid #e8e8e8
			background-color #ffffff
			content ""
		&:checked
			&:after
				position absolute
				z-index 1
				top 0
				left 0
				width 26px
				height 26px
				border 1px solid #e8e8e8
				background-color #ffffff
				text-align center
				line-height 26px
				content "\2713"
	&__left
		+r($t)
			float left
			width 260px
		+r($m)
			float none
			width auto
	&__right
		+r($t)
			float right
			width 380px
		+r($m)
			float none
			width auto
	// &__field_text
	// &__field_message
.form_style-second
	width 100%
	float none
	+r($m)
		width auto

	.form__title
		text-align left
		padding-left 0
	.form__left
		float left
		width 280px
		+r($t)
			width 247px
		+r($m)
			float none
			width auto
	.form__right
		float right
		width 400px
		min-height 211px
		clr()
		+r($t)
			width 340px
		+r($m)
			float none
			width auto
	.form__privacy
		position relative
		top 60px
		clear left
		+r($m)
			position absolute
			top auto
			left 0
			bottom 25px
			clear none
			width 190px
			font-size 12px
	.form__area
		position relative
	.form__submit
		position absolute
		bottom 30px
		left 0
		display inline-block
		width 280px
		+r($t)
			width 247px
		+r($m)
			position static
			padding-left 0
			padding-right 0
			width 130px
			float right
			font-size 18px
