mixin pagination()
	.pagination
		ul.pagination__list
			li.pagination__item
				a.pagination__link(href="#link") 1
			li.pagination__item
				a.pagination__link(href="#link") 2
			li.pagination__item
				a.pagination__link(href="#link") 3
