include ../icon/icon

mixin products()
	.products
		.products__in
			.products__filter.filter.tabs
				ul.filter__list.tabs__nav
					li.filter__item.tabs__link
						a.filter__link(href="#tab-1") категории
					li.filter__item.filter__item_active.tabs__link.tabs__link_active
						a.filter__link(href="#tab-2") новинки
					li.filter__item.tabs__link
						a.filter__link(href="#tab-3") спецпредложения
				a.filter__all(href="#link")
					span.filter__all-text смотреть весь каталог
					+icon('menu-icon', true).filter__all-icon

			.products__w.tabs__content
				.tabs__tab#tab-1
					.products__product.products__product_wide
						.products__top
							.products__left
								.products__title(href="#link") рысь 125 sport
								.products__text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с.
								a.products__specs-link(href="#link") Характеристики товара
								ul.products__specs-list
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
							.products__right
								.products__image
									img(src="assets/images/content/rye-125-sport.jpg", alt="")
								.products__badge скидка 10%
						.products__bottom
							a.products__basket(href="#basket")
								| Добавить в корзину
								+icon('basket-icon', true).products__basket-icon


					.products__product
						.products__top
							.products__left
								.products__title(href="#link") рысь 125 sport
								.products__text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с.
								a.products__specs-link(href="#link") Характеристики товара
								ul.products__specs-list
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
						.products__bottom
							a.products__basket(href="#basket")
								| Добавить в корзину
								+icon('basket-icon', true).products__basket-icon

					.products__product
						.products__top
							.products__left
								.products__title(href="#link") рысь 125 sport
								.products__text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с.
								a.products__specs-link(href="#link") Характеристики товара
								ul.products__specs-list
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
						.products__bottom
							a.products__basket(href="#basket")
								| Добавить в корзину
								+icon('basket-icon', true).products__basket-icon

					.products__product
						.products__top
							.products__left
								.products__title(href="#link") рысь 125 sport
								.products__text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с.
								a.products__specs-link(href="#link") Характеристики товара
								ul.products__specs-list
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
						.products__bottom
							a.products__basket(href="#basket")
								| Добавить в корзину
								+icon('basket-icon', true).products__basket-icon

					.products__product.products__product_wide
						.products__top
							.products__left
								.products__title(href="#link") рысь 110
								.products__text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с.
								a.products__specs-link(href="#link") Характеристики товара
								ul.products__specs-list
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
							.products__right
								.products__image
									img(src="assets/images/content/rye-110.jpg", alt="")
								//- .products__badge скидка 10%
						.products__bottom
							a.products__basket(href="#basket")
								| Добавить в корзину
								+icon('basket-icon', true).products__basket-icon

					.products__product
						.products__top
							.products__left
								.products__title(href="#link") рысь 125 sport
								.products__text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с.
								a.products__specs-link(href="#link") Характеристики товара
								ul.products__specs-list
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
						.products__bottom
							a.products__basket(href="#basket")
								| Добавить в корзину
								+icon('basket-icon', true).products__basket-icon


				.tabs__tab.tabs__tab_active#tab-2
					.products__product.products__product_wide
						.products__top
							.products__left
								.products__title(href="#link") рысь 125 sport
								.products__text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с.
								a.products__specs-link(href="#link") Характеристики товара
								ul.products__specs-list
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
							.products__right
								.products__image
									img(src="assets/images/content/rye-125-sport.jpg", alt="")
								.products__badge скидка 10%
						.products__bottom
							a.products__basket(href="#basket")
								| Добавить в корзину
								+icon('basket-icon', true).products__basket-icon


					.products__product
						.products__top
							.products__left
								.products__title(href="#link") рысь 125 sport
								.products__text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с.
								a.products__specs-link(href="#link") Характеристики товара
								ul.products__specs-list
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
						.products__bottom
							a.products__basket(href="#basket")
								| Добавить в корзину
								+icon('basket-icon', true).products__basket-icon

					.products__product
						.products__top
							.products__left
								.products__title(href="#link") рысь 125 sport
								.products__text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с.
								a.products__specs-link(href="#link") Характеристики товара
								ul.products__specs-list
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
						.products__bottom
							a.products__basket(href="#basket")
								| Добавить в корзину
								+icon('basket-icon', true).products__basket-icon

					.products__product
						.products__top
							.products__left
								.products__title(href="#link") рысь 125 sport
								.products__text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с.
								a.products__specs-link(href="#link") Характеристики товара
								ul.products__specs-list
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
						.products__bottom
							a.products__basket(href="#basket")
								| Добавить в корзину
								+icon('basket-icon', true).products__basket-icon

					.products__product.products__product_wide
						.products__top
							.products__left
								.products__title(href="#link") рысь 110
								.products__text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с.
								a.products__specs-link(href="#link") Характеристики товара
								ul.products__specs-list
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
							.products__right
								.products__image
									img(src="assets/images/content/rye-110.jpg", alt="")
								//- .products__badge скидка 10%
						.products__bottom
							a.products__basket(href="#basket")
								| Добавить в корзину
								+icon('basket-icon', true).products__basket-icon

					.products__product
						.products__top
							.products__left
								.products__title(href="#link") рысь 125 sport
								.products__text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с.
								a.products__specs-link(href="#link") Характеристики товара
								ul.products__specs-list
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
						.products__bottom
							a.products__basket(href="#basket")
								| Добавить в корзину
								+icon('basket-icon', true).products__basket-icon
								
				.tabs__tab#tab-3
					.products__product.products__product_wide
						.products__top
							.products__left
								.products__title(href="#link") рысь 125 sport
								.products__text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с.
								a.products__specs-link(href="#link") Характеристики товара
								ul.products__specs-list
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
							.products__right
								.products__image
									img(src="assets/images/content/rye-125-sport.jpg", alt="")
								.products__badge скидка 10%
						.products__bottom
							a.products__basket(href="#basket")
								| Добавить в корзину
								+icon('basket-icon', true).products__basket-icon


					.products__product
						.products__top
							.products__left
								.products__title(href="#link") рысь 125 sport
								.products__text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с.
								a.products__specs-link(href="#link") Характеристики товара
								ul.products__specs-list
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
						.products__bottom
							a.products__basket(href="#basket")
								| Добавить в корзину
								+icon('basket-icon', true).products__basket-icon

					.products__product
						.products__top
							.products__left
								.products__title(href="#link") рысь 125 sport
								.products__text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с.
								a.products__specs-link(href="#link") Характеристики товара
								ul.products__specs-list
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
						.products__bottom
							a.products__basket(href="#basket")
								| Добавить в корзину
								+icon('basket-icon', true).products__basket-icon

					.products__product
						.products__top
							.products__left
								.products__title(href="#link") рысь 125 sport
								.products__text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с.
								a.products__specs-link(href="#link") Характеристики товара
								ul.products__specs-list
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
						.products__bottom
							a.products__basket(href="#basket")
								| Добавить в корзину
								+icon('basket-icon', true).products__basket-icon

					.products__product.products__product_wide
						.products__top
							.products__left
								.products__title(href="#link") рысь 110
								.products__text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с.
								a.products__specs-link(href="#link") Характеристики товара
								ul.products__specs-list
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
							.products__right
								.products__image
									img(src="assets/images/content/rye-110.jpg", alt="")
								//- .products__badge скидка 10%
						.products__bottom
							a.products__basket(href="#basket")
								| Добавить в корзину
								+icon('basket-icon', true).products__basket-icon

					.products__product
						.products__top
							.products__left
								.products__title(href="#link") рысь 125 sport
								.products__text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с.
								a.products__specs-link(href="#link") Характеристики товара
								ul.products__specs-list
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
									li.products__specs-item Spec: Spec title
						.products__bottom
							a.products__basket(href="#basket")
								| Добавить в корзину
								+icon('basket-icon', true).products__basket-icon
