mixin payment()
	.payment
		h2.payment__title Cпособы оплаты
		ul.payment__list
			li.payment__item.payment__item_bank-account
				span Перечисление на р/с компании по счёту или квитанции 
				
			li.payment__item.payment__item_plastic-card 
				span Банковской картой
