mixin delivery()
	.delivery
		h2.delivery__title Cпособы доставки
		ul.delivery__list
			li.delivery__item Собственный автотранспорт.
			li.delivery__item Почтой России, стоимость доставки рассчитывается индивидуально <a href='#link'>по тарифам Почты России.</a>
			li.delivery__item EMS Почтой России, стоимость доставки рассчитывается индивидуально по тарифам <a href='#'>EMS  Почты России.</a>
			li.delivery__item Транспортной компанией ПЭК (Первая Экспедиционная Компания), стоимость доставки рассчитывается индивидуально <a href='#link'>по тарифам ПЭК.</a>
			li.delivery__item Транспортной компанией Деловые Линии, стоимость доставки рассчитывается индивидуально по <a href='#link'>тарифам Деловые Линии.</a>
			li.delivery__item Транспортной компанией Байкал-Сервис, стоимость доставки рассчитывается индивидуально <a href='#link'>по тарифам Байкал-Сервис.</a>
			li.delivery__item Ж/Д контейнер.<br/> Доставка осуществляется до ближайшей к Вашему населенному пункту контейнерной станции. Для доставки используются трех и пяти тонные контейнеры. При покупке большой партии возможна отправка снегоходов в 20-ти тонном контейнере по предварительной договоренности.
			li.delivery__item Ж/Д багаж<br/> Доставка ж/д багажом возможна если вес посылки находится в пределах от 10 до 75 кг. Достоинства - цена, недостатки - возможно длительный срок доставки.
			li.delivery__item Самовывоз (по предварительному согласованию).
