mixin breadcrumbs()
	.breadcrumbs
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Главная
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Каталог

mixin breadcrumbs-subcategory()
	.breadcrumbs
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Главная
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Каталог
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Снегоходы

mixin breadcrumbs-delivery()
	.breadcrumbs
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Главная
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Оплата и доставка

mixin breadcrumbs-contacts()
	.breadcrumbs
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Главная
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Контакты

mixin breadcrumbs-news()
	.breadcrumbs
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Главная
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") новости
				
				
mixin breadcrumbs-card()
	.breadcrumbs
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Главная
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Каталог
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Снегоходы
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Снегоход «Буран»
