include ../icon/icon

mixin catalog()
	.catalog
		.catalog__nav-w
			nav.catalog__nav
				ul.catalog__nav-list
				li.catalog__nav-item
					a.catalog__nav-link(href="#link1") Мотобуксировщики
				li.catalog__nav-item
					a.catalog__nav-link(href="#link2") Запчасти для снегоходов
				li.catalog__nav-item
					a.catalog__nav-link(href="#link3") Сани и прицепы
				li.catalog__nav-item
					a.catalog__nav-link(href="#link4") Модульные понтоны
				li.catalog__nav-item
					a.catalog__nav-link(href="#link5") Снегоходы
				li.catalog__nav-item
					a.catalog__nav-link(href="#link6") Квадрациклы
				li.catalog__nav-item
					a.catalog__nav-link(href="#link7") Лодки и моторы
				li.catalog__nav-item
					a.catalog__nav-link(href="#link8") Ремни Gates
				li.catalog__nav-item
					a.catalog__nav-link(href="#link9") Гусеницы к снегоходам
				li.catalog__nav-item
					a.catalog__nav-link(href="#link10") Аксессуары и опции
				li.catalog__nav-item
					a.catalog__nav-link(href="#link11") Стекла к снегоходу
				li.catalog__nav-item
					a.catalog__nav-link(href="#link12") Квадроциклы Polars

		ul.catalog__list
			li.catalog__list__item
				.catalog__image
					img(src="assets/images/content/catalog-img-1.jpg", alt="")
				.catalog__item-title yamaha
				.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
				a.catalog__item-specs(href="#specs") Характеристики товара
				.catalog__price Цена 300 000 руб.
				.catalog__bottom
					a.catalog__cart(href="#to-cart")
						| Добавить в корзину
						+icon('basket-icon').catalog__cart-icon
			li.catalog__list__item
				.catalog__image
					img(src="assets/images/content/catalog-img-1.jpg", alt="")
				.catalog__item-title yamaha
				.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
				a.catalog__item-specs(href="#specs") Характеристики товара
				.catalog__price Цена 300 000 руб.
				.catalog__bottom
					a.catalog__cart(href="#to-cart")
						| Добавить в корзину
						+icon('basket-icon').catalog__cart-icon
			li.catalog__list__item
				.catalog__image
					img(src="assets/images/content/catalog-img-1.jpg", alt="")
				.catalog__item-title yamaha
				.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
				a.catalog__item-specs(href="#specs") Характеристики товара
				.catalog__price Цена 300 000 руб.
				.catalog__bottom
					a.catalog__cart(href="#to-cart")
						| Добавить в корзину
						+icon('basket-icon').catalog__cart-icon
			li.catalog__list__item
				.catalog__image
					img(src="assets/images/content/catalog-img-1.jpg", alt="")
				.catalog__item-title yamaha
				.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
				a.catalog__item-specs(href="#specs") Характеристики товара
				.catalog__price Цена 300 000 руб.
				.catalog__bottom
					a.catalog__cart(href="#to-cart")
						| Добавить в корзину
						+icon('basket-icon').catalog__cart-icon
			li.catalog__list__item
				.catalog__image
					img(src="assets/images/content/catalog-img-1.jpg", alt="")
				.catalog__item-title yamaha
				.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
				a.catalog__item-specs(href="#specs") Характеристики товара
				.catalog__price Цена 300 000 руб.
				.catalog__bottom
					a.catalog__cart(href="#to-cart")
						| Добавить в корзину
						+icon('basket-icon').catalog__cart-icon
			li.catalog__list__item
				.catalog__image
					img(src="assets/images/content/catalog-img-1.jpg", alt="")
				.catalog__item-title yamaha
				.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
				a.catalog__item-specs(href="#specs") Характеристики товара
				.catalog__price Цена 300 000 руб.
				.catalog__bottom
					a.catalog__cart(href="#to-cart")
						| Добавить в корзину
						+icon('basket-icon').catalog__cart-icon
			li.catalog__list__item
				.catalog__image
					img(src="assets/images/content/catalog-img-1.jpg", alt="")
				.catalog__item-title yamaha
				.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
				a.catalog__item-specs(href="#specs") Характеристики товара
				.catalog__price Цена 300 000 руб.
				.catalog__bottom
					a.catalog__cart(href="#to-cart")
						| Добавить в корзину
						+icon('basket-icon').catalog__cart-icon
			li.catalog__list__item
				.catalog__image
					img(src="assets/images/content/catalog-img-1.jpg", alt="")
				.catalog__item-title yamaha
				.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
				a.catalog__item-specs(href="#specs") Характеристики товара
				.catalog__price Цена 300 000 руб.
				.catalog__bottom
					a.catalog__cart(href="#to-cart")
						| Добавить в корзину
						+icon('basket-icon').catalog__cart-icon
			li.catalog__list__item
				.catalog__image
					img(src="assets/images/content/catalog-img-1.jpg", alt="")
				.catalog__item-title yamaha
				.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
				a.catalog__item-specs(href="#specs") Характеристики товара
				.catalog__price Цена 300 000 руб.
				.catalog__bottom
					a.catalog__cart(href="#to-cart")
						| Добавить в корзину
						+icon('basket-icon').catalog__cart-icon
