include ../icon/icon
include ../side/side

mixin catalog()
	.catalog
		.catalog__list-w
			ul.catalog__list
				li.catalog__item
					.catalog__item-left
						.catalog__image
							img(src="assets/images/content/catalog-img-1.jpg", alt="")
					.catalog__item-right
						.catalog__item-title yamaha
						.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
						a.catalog__specs-link(href="#specs") Характеристики товара
						ul.catalog__specs-list
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
						.catalog__price Цена 300 000 руб.
						.catalog__bottom
							a.catalog__cart(href="#to-cart")
								| Добавить в корзину
								+icon('basket-icon', true).catalog__cart-icon
							
				li.catalog__item
					.catalog__item-left
						.catalog__image
							img(src="assets/images/content/catalog-img-2.jpg", alt="")
					.catalog__item-right
						.catalog__item-title русская механика
						.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
						a.catalog__specs-link(href="#specs") Характеристики товара
						ul.catalog__specs-list
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
						.catalog__price Цена 300 000 руб.
						.catalog__bottom
							a.catalog__cart(href="#to-cart")
								| Добавить в корзину
								+icon('basket-icon', true).catalog__cart-icon
							
				li.catalog__item
					.catalog__item-left
						.catalog__image
							img(src="assets/images/content/catalog-img-3.jpg", alt="")
					.catalog__item-right
						.catalog__item-title ИТЛАН
						.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
						a.catalog__specs-link(href="#specs") Характеристики товара
						ul.catalog__specs-list
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
						.catalog__price Цена 300 000 руб.
						.catalog__bottom
							a.catalog__cart(href="#to-cart")
								| Добавить в корзину
								+icon('basket-icon', true).catalog__cart-icon
							
				li.catalog__item
					.catalog__item-left
						.catalog__image
							img(src="assets/images/content/catalog-img-1.jpg", alt="")
					.catalog__item-right
						.catalog__item-title yamaha
						.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
						a.catalog__specs-link(href="#specs") Характеристики товара
						ul.catalog__specs-list
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
						.catalog__price Цена 300 000 руб.
						.catalog__bottom
							a.catalog__cart(href="#to-cart")
								| Добавить в корзину
								+icon('basket-icon', true).catalog__cart-icon
							
				li.catalog__item
					.catalog__item-left
						.catalog__image
							img(src="assets/images/content/catalog-img-2.jpg", alt="")
					.catalog__item-right
						.catalog__item-title РУССКАЯ МЕХАНИКА
						.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
						a.catalog__specs-link(href="#specs") Характеристики товара
						ul.catalog__specs-list
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
						.catalog__price Цена 300 000 руб.
						.catalog__bottom
							a.catalog__cart(href="#to-cart")
								| Добавить в корзину
								+icon('basket-icon', true).catalog__cart-icon
							
				li.catalog__item
					.catalog__item-left
						.catalog__image
							img(src="assets/images/content/catalog-img-3.jpg", alt="")
					.catalog__item-right
						.catalog__item-title ИТЛАН
						.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
						a.catalog__specs-link(href="#specs") Характеристики товара
						ul.catalog__specs-list
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
						.catalog__price Цена 300 000 руб.
						.catalog__bottom
							a.catalog__cart(href="#to-cart")
								| Добавить в корзину
								+icon('basket-icon', true).catalog__cart-icon
							
				li.catalog__item
					.catalog__item-left
						.catalog__image
							img(src="assets/images/content/catalog-img-1.jpg", alt="")
					.catalog__item-right
						.catalog__item-title yamaha
						.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
						a.catalog__specs-link(href="#specs") Характеристики товара
						ul.catalog__specs-list
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
						.catalog__price Цена 300 000 руб.
						.catalog__bottom
							a.catalog__cart(href="#to-cart")
								| Добавить в корзину
								+icon('basket-icon', true).catalog__cart-icon
							
				li.catalog__item
					.catalog__item-left
						.catalog__image
							img(src="assets/images/content/catalog-img-2.jpg", alt="")
					.catalog__item-right
						.catalog__item-title РУССКАЯ МЕХАНИКА
						.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
						a.catalog__specs-link(href="#specs") Характеристики товара
						ul.catalog__specs-list
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
						.catalog__price Цена 300 000 руб.
						.catalog__bottom
							a.catalog__cart(href="#to-cart")
								| Добавить в корзину
								+icon('basket-icon', true).catalog__cart-icon
							
				li.catalog__item
					.catalog__item-left
						.catalog__image
							img(src="assets/images/content/catalog-img-3.jpg", alt="")
					.catalog__item-right
						.catalog__item-title ИТЛАН
						.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
						a.catalog__specs-link(href="#specs") Характеристики товара
						ul.catalog__specs-list
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
						.catalog__price Цена 300 000 руб.
						.catalog__bottom
							a.catalog__cart(href="#to-cart")
								| Добавить в корзину
								+icon('basket-icon', true).catalog__cart-icon
							

mixin catalog-sub()
	.catalog.catalog_sub
		.catalog__list-w
			ul.catalog__list
				li.catalog__item
					.catalog__item-left
						.catalog__image
							img(src="assets/images/content/catalog-img-2.jpg", alt="")
					.catalog__item-right
						.catalog__item-title РУССКАЯ МЕХАНИКА
						.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
						a.catalog__specs-link(href="#specs") Характеристики товара
						ul.catalog__specs-list
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
						.catalog__price Цена 300 000 руб.
						.catalog__bottom
							a.catalog__cart(href="#to-cart")
								| Добавить в корзину
								+icon('basket-icon', true).catalog__cart-icon
							
				li.catalog__item
					.catalog__item-left
						.catalog__image
							img(src="assets/images/content/catalog-img-3.jpg", alt="")
					.catalog__item-right
						.catalog__item-title ИТЛАН
						.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
						a.catalog__specs-link(href="#specs") Характеристики товара
						ul.catalog__specs-list
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
						.catalog__price Цена 300 000 руб.
						.catalog__bottom
							a.catalog__cart(href="#to-cart")
								| Добавить в корзину
								+icon('basket-icon', true).catalog__cart-icon
							
				li.catalog__item
					.catalog__item-left
						.catalog__image
							img(src="assets/images/content/catalog-img-2.jpg", alt="")
					.catalog__item-right
						.catalog__item-title РУССКАЯ МЕХАНИКА
						.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
						a.catalog__specs-link(href="#specs") Характеристики товара
						ul.catalog__specs-list
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
						.catalog__price Цена 300 000 руб.
						.catalog__bottom
							a.catalog__cart(href="#to-cart")
								| Добавить в корзину
								+icon('basket-icon', true).catalog__cart-icon
							
				li.catalog__item
					.catalog__item-left
						.catalog__image
							img(src="assets/images/content/catalog-img-3.jpg", alt="")
					.catalog__item-right
						.catalog__item-title ИТЛАН
						.catalog__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
						a.catalog__specs-link(href="#specs") Характеристики товара
						ul.catalog__specs-list
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
							li.catalog__specs-item Some: Title
						.catalog__price Цена 300 000 руб.
						.catalog__bottom
							a.catalog__cart(href="#to-cart")
								| Добавить в корзину
								+icon('basket-icon', true).catalog__cart-icon
							
				
							
