.catalog
	&__list-w
		overflow hidden
		+r($t)
			overflow visible
	&__list
		margin-right -65px
		font-size 0
		+r($t)
			margin-right -34px
			margin-left -34px
		+r($m)
			margin-right 0
			margin-left 0
	&__item
		margin-right 27px
		margin-bottom 20px
		padding-top 24px
		padding-left 20px
		padding-right 20px
		padding-bottom 24px
		display inline-block
		vertical-align top
		width 215px
		min-height 418px
		background-color #f5f6fa
		font-size 14px
		color #2e3e57
		+r($t)
			margin-right 0
			width 222px
		+r($m)
			margin-right 0
			margin-bottom 16px
			padding-left 15px
			padding-right 15px
			width 100%
			min-height 214px
		&:nth-child(3n-1)
			padding-left 60px
			padding-right 60px
			width 297px
			+r($t)
				margin-right 30px
				margin-left 30px
				padding-left 20px
				padding-right 20px
				width 222px
			+r($m)
				margin-left 0
				margin-right 0
				padding-left 15px
				padding-right 15px
				width 100%
	&__item-left
		+r($m)
			float left
			width 210px
	&__item-right
		+r($m)
			float right
			width 200px
	&__image
		margin auto
		margin-bottom 30px
		width 175px
		height 140px
		img
			max-width 100%
			height auto
		+r($m)
			margin 0
	&__item-title
		margin-bottom 30px
		font-family $rB
		color #008bff
		text-transform uppercase
		+r($m)
			margin-bottom 20px
	&__item-text
		margin-bottom 20px
		+r($m)
			margin-bottom 16px
	&__specs-link
		position relative
		display inline-block
		vertical-align top
		margin-bottom 15px
		color #2e3e57
		text-decoration none
		&:after
			position absolute
			top 100%
			left 0
			right 0
			width 100%
			content ""
			background transparent
			border-bottom 1px dashed #2e3e57
		&:hover
			&:after
				display none
		+r($m)
			margin-bottom 10px
	&__specs-list
		display none
		margin-bottom 22px
	&__specs-list_active
		display block
	&__specs-item
		margin-bottom 5px
	&__price
		margin-bottom 7px
		font-weight bold
		color #ff5361
	// &__bottom
	&__cart
		display inline-block
		vertical-align top
		color #2e3e57
		text-decoration none
	&__cart-icon
		margin-top -8px
		margin-left 12px
		display inline-block
		vertical-align middle
		width 26px
		height 22px
		line-height 22px
		fill #ffb900

.catalog_sub
	.catalog__list-w
		+r($t)
			overflow hidden
	.catalog__list
		margin-right -33px
		+r($t)
			margin-right -33px
			margin-left 0
		+r($m)
			margin-right -33px
			// margin-left -17px
	.catalog__item
		margin-right 26px
		padding-left 20px
		padding-right 20px
		min-height 442px
		+r($m)
			margin-right 20px
			width 215px
			min-height 375px
		&:nth-child(3n-1)
			padding-left 20px
			padding-right 20px
			width 215px
			+r($t)
				margin-left 0
				margin-right 0
				padding-left 20px
				padding-right 20px
				width 222px
			+r($m)
				margin-left 0
				margin-right 0
				padding-left 20px
				padding-right 20px
				width 215px
		&:nth-child(2n-1)
			// padding-left 60px
			// padding-right 60px
			padding-left 40px
			padding-right 40px
			width 294px
			+r($t)
				padding-left 30px
				padding-right 30px
			+r($m)
				padding-left 20px
				padding-right 20px
				width 215px
	.catalog__image
		+r($m)
			margin-bottom 30px
	.catalog__item-left
		+r($m)
			float none
			width 100%
	.catalog__item-right
		+r($m)
			float none
			width 100%
