mixin side-service()
	.side-service
		ul.side-service__list
			li.side-service__item.side-service__item_first
				.side-service__image
					img(src="assets/images/content/belts.png", alt="")
				.side-service__content
					a.side-service__title(href="#link") Ремни для любых видов техники
					.side-service__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			li.side-service__item.side-service__item_second
				.side-service__image
					img(src="assets/images/content/helmet.png", alt="")
				.side-service__content
					a.side-service__title(href="#link") Ремни для любых видов техники
					.side-service__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
