.cat-nav
	display block
	&__nav-w
		margin-bottom 20px
		overflow hidden
		+r($m)
			padding-left 10px
			padding-right 10px
	// &__nav

	&__list
		font-size 0
		text-align center
		+r($m)
			text-align center
	&__item
		margin-bottom 2px
		display inline-block
		vertical-align top
		width 32%
		font-family $rR
		font-size 14px
		text-align left
		text-overflow ellipsis
		overflow hidden
		border-radius 10px
		+r($m)
			width 49.5%
	&__link
		padding 9px 12px 9px
		// display inline-block
		display inline-block
		vertical-align top
		color #000000
		text-decoration none
		border-radius 10px
		text-overflow ellipsis
		overflow hidden
		+r($m)
			padding 4px 10px 4px
	&__item_active
		.cat-nav__link
			display inline-block
			background-color #ffb900
