mixin cat-nav()
	.cat-nav__nav-w
		nav.cat-nav__nav
			ul.cat-nav__list
				li.cat-nav__item
					a.cat-nav__link(href="#link1") Мотобуксировщики
				li.cat-nav__item
					a.cat-nav__link(href="#link2") Запчасти для снегоходов
				li.cat-nav__item.cat-nav__item_active
					a.cat-nav__link(href="#link3") Сани и прицепы
				li.cat-nav__item
					a.cat-nav__link(href="#link4") Модульные понтоны
				li.cat-nav__item
					a.cat-nav__link(href="#link5") Снегоходы
				li.cat-nav__item
					a.cat-nav__link(href="#link6") Квадрациклы
				li.cat-nav__item
					a.cat-nav__link(href="#link7") Лодки и моторы
				li.cat-nav__item
					a.cat-nav__link(href="#link8") Ремни Gates
				li.cat-nav__item
					a.cat-nav__link(href="#link9") Гусеницы к снегоходам
				li.cat-nav__item
					a.cat-nav__link(href="#link10") Аксессуары и опции
				li.cat-nav__item
					a.cat-nav__link(href="#link11") Стекла к снегоходу
				li.cat-nav__item
					a.cat-nav__link(href="#link12") Квадроциклы Polars
