mixin relative()
	.relative
		h2.relative__title Вам так же может понравиться:
		ul.relative__list
			li.relative__item
				.relative__item-left
					.relative__image
						img(src="assets/images/content/catalog-img-1.jpg", alt="")
				.relative__item-right
					.relative__item-title yamaha
					.relative__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
					a.relative__specs-link(href="#specs") Характеристики товара
					ul.relative__specs-list
						li.relative__specs-item Some: Title
						li.relative__specs-item Some: Title
						li.relative__specs-item Some: Title
						li.relative__specs-item Some: Title
					.relative__price Цена 300 000 руб.
					.relative__bottom
						a.relative__cart(href="#to-cart")
							| Добавить в корзину
							+icon('basket-icon', true).relative__cart-icon
			li.relative__item
				.relative__item-left
					.relative__image
						img(src="assets/images/content/catalog-img-1.jpg", alt="")
				.relative__item-right
					.relative__item-title yamaha
					.relative__item-text Вездеход оснащен мотором 500 см3, обладающим мощностью 32 л.с. 
					a.relative__specs-link(href="#specs") Характеристики товара
					ul.relative__specs-list
						li.relative__specs-item Some: Title
						li.relative__specs-item Some: Title
						li.relative__specs-item Some: Title
						li.relative__specs-item Some: Title
					.relative__price Цена 300 000 руб.
					.relative__bottom
						a.relative__cart(href="#to-cart")
							| Добавить в корзину
							+icon('basket-icon', true).relative__cart-icon
