@css {

	@font-face {
		font-family: 'BookAntiqua-Italic';
		src: url('../fonts/hinted-subset-BookAntiqua-Italic.woff2') format('woff2'),
			url('../fonts/hinted-subset-BookAntiqua-Italic.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Roboto-Regular';
		src: url('../fonts/hinted-subset-Roboto-Regular.woff2') format('woff2'),
			url('../fonts/hinted-subset-Roboto-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Roboto-Bold';
		src: url('../fonts/hinted-subset-Roboto-Bold.woff2') format('woff2'),
			url('../fonts/hinted-subset-Roboto-Bold.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'MinionPro-BoldIt';
		src: url('../fonts/hinted-subset-MinionPro-BoldIt.woff2') format('woff2'),
			url('../fonts/hinted-subset-MinionPro-BoldIt.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'MinionPro-Regular';
		src: url('../fonts/hinted-subset-MinionPro-Regular.woff2') format('woff2'),
			url('../fonts/hinted-subset-MinionPro-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

}


$bI = 'BookAntiqua-Italic', Arial, sans-serif
$rR = 'Roboto-Regular', Arial, sans-serif
$rB = 'Roboto-Bold', Arial, sans-serif
$mBI = 'MinionPro-BoldIt', Arial, sans-serif
$mR = 'MinionPro-Regular', Arial, sans-serif
$a = Arial, Helvetica Neue, Helvetica, sans-serif
