extends /blocks/layout-default/layout-card
include /blocks/header/header
include /blocks/breadcrumbs/breadcrumbs
include /blocks/side/side
include /blocks/cat-nav/cat-nav
include /blocks/side-nav/side-nav
include /blocks/side-rel/side-rel
include /blocks/side-service/side-service

include /blocks/card/card
include /blocks/relative/relative
include /blocks/form/form

include /blocks/pagination/pagination
include /blocks/footer/footer

block head
	- var pageTitle = 'Рустехника76 - снегоходы «буран»';

block content
	+header()
	main.main
		+breadcrumbs-card()
		.main__w
			h1.main__title снегоходы «буран»
			.main__content.main__content_sub
				.main__cat-nav
					+cat-nav()
				.main__row
					.main__side-nav.main__side-nav_tablet
						+side-nav-second()
					.main__left
						+side()
							+side-nav()
							.main__rel
								+side-rel()
							.main__service
								+side-service()
					.main__right
						.main__card
							+card()
					.main__relative
						+relative()
				+form-second()
	+footer()
