extends /blocks/layout-default/layout-default

include /blocks/header/header
include /blocks/breadcrumbs/breadcrumbs
include /blocks/catalog/catalog
include /blocks/pagination/pagination

include /blocks/form/form


include /blocks/footer/footer


block head
	- var pageTitle = 'Рустехника76 - Каталог';

block content
	+header()
	main.main
		+breadcrumbs()
		.main__w
			h1.main__title сани и прицепы
			.main__catalog
				+catalog()
				.main__pagination
					+pagination()
				.main__form
					+form-second()
	+footer()
