extends /blocks/layout-default/layout-delivery

include /blocks/header/header
include /blocks/breadcrumbs/breadcrumbs

include /blocks/side/side
include /blocks/cat-nav/cat-nav

include /blocks/side-rel/side-rel
include /blocks/content/content
include /blocks/delivery/delivery
include /blocks/payment/payment
include /blocks/payment-steps/payment-steps


include /blocks/pagination/pagination
include /blocks/footer/footer


block head
	- var pageTitle = 'Рустехника76 - оплата и доставка';

block content
	+header()
	main.main
		+breadcrumbs-delivery()
		.main__w
			h1.main__title ОПЛАТА И ДОСТАВКА
			.main__content.main__content_sub
				.main__cat-nav
					+cat-nav()
				.main__row
					.main__left
						+side()
							+side-rel-deliv()
					.main__right
						+delivery()
						+payment()
	+payment-steps()
	
	+footer()
