mixin additional()
	.additional
		ul.additional__list
			li.additional__item.additional__item_first
				.additional__image
					img(src="assets/images/content/belts.png", alt="")
				.additional__content
					a.additional__title(href="#link") Ремни для любых  видов техники
					.additional__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			li.additional__item.additional__item_second
				.additional__image
					img(src="assets/images/content/helmet.png", alt="")
				.additional__content
					a.additional__title(href="#link") Ремни для любых  видов техники
					.additional__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
