mixin payment-steps()
	.payment-steps
		.payment-steps__in
			h2.payment-steps__title Порядок оплаты
			ul.payment-steps__list
				li.payment-steps__item.payment-steps__item_first
					.payment-steps__num 01
					.payment-steps__text Добавляйте товары, в корзине выберете способ оплаты "Банковская карта".
					.payment-steps__image
						img(src="assets/images/content/payment-step-img-1.png", alt="")
							
				li.payment-steps__item.payment-steps__item_second
					.payment-steps__num 02
					.payment-steps__text Менеджер проверит заявку и в рабочее время в течение 2 часов Вы получите подтверждение заказа на Ваш email адрес.
					
				li.payment-steps__item.payment-steps__item_third
					.payment-steps__num 03
					.payment-steps__text Письмо с подтверждением оплаты содержит ссылку на оплату Вашего заказа.
					
				li.payment-steps__item.payment-steps__item_fourth
					.payment-steps__num 04
					.payment-steps__text Оплата по карте Visa и Mastercard происходит с помощью платежного шлюза ПАО Сбербанк.
					.payment-steps__image
						img(src="assets/images/content/payment-step-img-2.png", alt="")
			.payment-steps__note Потребитель вправе отказаться от товара в любое время до его передачи, а после передачи товара - в течение семи дней. Возврат переведенных средств, производится на Ваш банковский счет в течение 5—30 рабочих дней (срок зависит от Банка, который выдал Вашу банковскую карту)..
