mixin news()
	.news
		ul.news__list
			li.news__item
				a.news__link(href="#link")
					.news__image
						img(src="assets/images/content/news-img-1.jpg", alt="news image")
					.news__content
						.news__title Пластиковые понтоны
						.news__text Чтобы построить на водоеме стильный и красивый причал, например, для яхты или водного мотоцикла, наша компания предлагает пластиковые понтоны. Благодаря простоте сборки и ряду других преимуществ продукция получила большую популярность.
			li.news__item
				a.news__link(href="#link")
					.news__image
						img(src="assets/images/content/news-img-2.jpg", alt="news image")
					.news__content
						.news__title Снегоходы тайги
						.news__text Стать обладателем модели снегоход тайга просто - все модификации у нас есть на складе и цены являются рекомендованными заводом изготовителем. Наличие опыта по доставке снегоходной техники по всей России делает Вашу покупку выгодной и беззаботной. 
			li.news__item
				a.news__link(href="#link")
					.news__image
						img(src="assets/images/content/news-img-3.jpg", alt="news image")
					.news__content
						.news__title Снегоходы «Буран»
						.news__text Чтобы построить на водоеме стильный и красивый причал, например, для яхты или водного мотоцикла, наша компания предлагает пластиковые понтоны. Благодаря простоте сборки и ряду других преимуществ продукция получила большую популярность.
						
			li.news__item
				a.news__link(href="#link")
					.news__image
						img(src="assets/images/content/news-img-1.jpg", alt="news image")
					.news__content
						.news__title Пластиковые понтоны
						.news__text Чтобы построить на водоеме стильный и красивый причал, например, для яхты или водного мотоцикла, наша компания предлагает пластиковые понтоны. Благодаря простоте сборки и ряду других преимуществ продукция получила большую популярность.
			li.news__item
				a.news__link(href="#link")
					.news__image
						img(src="assets/images/content/news-img-2.jpg", alt="news image")
					.news__content
						.news__title Снегоходы тайги
						.news__text Стать обладателем модели снегоход тайга просто - все модификации у нас есть на складе и цены являются рекомендованными заводом изготовителем. Наличие опыта по доставке снегоходной техники по всей России делает Вашу покупку выгодной и беззаботной. 
			li.news__item
				a.news__link(href="#link")
					.news__image
						img(src="assets/images/content/news-img-3.jpg", alt="news image")
					.news__content
						.news__title Снегоходы «Буран»
						.news__text Чтобы построить на водоеме стильный и красивый причал, например, для яхты или водного мотоцикла, наша компания предлагает пластиковые понтоны. Благодаря простоте сборки и ряду других преимуществ продукция получила большую популярность.
