mixin cat-desc()
	.cat-desc
		.cat-desc__title снегоходы «буран»
		.cat-desc__text
			p Более 40 лет истории, более 400 тысяч произведенных машин – все это легендарный снегоход Буран, самый неприхотливый и проходимый отечественный снегоход. Этот снегоход преодолеет любое препятствие: лесная чаща, глубокий снег, крутые снежные тягуны – ему все нипочем. Буран - снегоход, который способен транспортировать прицеп массой до 500 кг. 
			p Простая конструкция позволяет ремонтировать снегоход даже в экстремальных условиях. Он станет незаменимым на охоте и рыбалке, будет верным помощником для тех, кто работает и живет в суровом климате.
			p Приобрести короткую или длинную модель снегохода Буран можно в нашем дилерском центре. Также в наличии прицепы к снегоходу Буран. У нас вы можете найти любые запасные части ко всем выпускаемым моделям снегохода Буран: Буран А/АЕ, АД/АДЕ, 4Т/4ТД, а также к моделям, снятым с производства: Буран Л/ЛЕ, ЛД/ЛДЕ, Буран М/МЕ, МД/МДЕ.
