mixin side-nav()
	.side-nav.side__block.side__nav.side__nav_hidden
		ul.side-nav__list
			li.side-nav__item.side-nav__item_active
				a.side-nav__link(href="#link") Снегоходы «Буран»
			li.side-nav__item
				a.side-nav__link(href="#link") Снегоходы «Тайга»
			li.side-nav__item
				a.side-nav__link(href="#link") Снегоходы «Тикси»
			li.side-nav__item
				a.side-nav__link(href="#link") СММ Рыбинка
			
			
mixin side-nav-second()
	.side-nav.side__block.side__nav
		ul.side-nav__list
			li.side-nav__item.side-nav__item_active
				a.side-nav__link(href="#link") Снегоходы «Буран»
			li.side-nav__item
				a.side-nav__link(href="#link") Снегоходы «Тайга»
			li.side-nav__item
				a.side-nav__link(href="#link") Снегоходы «Тикси»
			li.side-nav__item
				a.side-nav__link(href="#link") СММ Рыбинка
