mixin company()
	.company
		.company__in
			.company__item.company__item_first
				.company__item-num 01
				.company__ellipse
				.company__w
					.company__image
						img(src="assets/images/content/stelsatv-100rs.png", alt="")
					.company__content
						p Компания Рустехника готова предложить вездеходы, квадроциклы, снегоходы, мотобуксировщики, мотоциклы, лодки и лодочные моторы, детские квадроцикы, мопеды, скутеры Российского и Китайского производства. Запчасти и аксессуары для квадроциклов, мотоциклов, снегоходов, лодочных моторов.
				.company__note
					p Какой русский не любит быстрой езды, а с нашим транспортом ездить легко и удобно. Узнать более подробно<br/> <a href="#">о доставке и оплате.</a>
			.company__item.company__item_second
				.company__item-num 02
				.company__ellipse
				.company__image
					img(src="assets/images/content/service-center.png", alt="")
				.company__content
					p Также наша компания отвечает за качество продаваемой продукции и на весь товар распространяется гарантия. А специалисты нашего сервисного центра помогут Вам, как во время, так и после гарантийного срока.
			.company__item.company__item_third
				.company__item-num 03
				.company__image
					img(src="assets/images/content/quality.png", alt="")
				.company__content
					p Помимо этого наша компания отвечает за качество продаваемой продукции и на весь товар распространяется гарантия. А специалисты нашего сервисного центра помогут Вам, как во время, так и после гарантийного срока.
