mixin side-rel()
	.side-rel.side__block
		.side-rel__title С этим товаром также смотрят:
		ul.side-rel__list
			li.side-rel__item
				a.side-rel__link(href="#link")
					.side-rel__item-title сани для снегохода
					.side-rel__item-text Весь сентябрь скидка на сани ПГК - 2000 с палстиковыми накладками за 6 500 р.
					.side-rel__item-img
						img(src="assets/images/content/side-rel-img-1.jpg", alt="")
			li.side-rel__item
				a.side-rel__link(href="#link")
					.side-rel__item-title сани для снегохода
					.side-rel__item-text Весь сентябрь скидка на сани ПГК - 2000 с палстиковыми накладками за 6 500 р.
					.side-rel__item-img
						img(src="assets/images/content/side-rel-img-2.jpg", alt="")
			li.side-rel__item
				a.side-rel__link(href="#link")
					.side-rel__item-title сани для снегохода
					.side-rel__item-text Весь сентябрь скидка на сани ПГК - 2000 с палстиковыми накладками за 6 500 р.
					.side-rel__item-img
						img(src="assets/images/content/side-rel-img-3.jpg", alt="")
							
							
mixin side-rel-deliv()
	.side-rel.side__block
		.side-rel__title Спецпредложения
		ul.side-rel__list
			li.side-rel__item
				a.side-rel__link(href="#link")
					.side-rel__item-title сани для снегохода
					.side-rel__item-text Весь сентябрь скидка на сани ПГК - 2000 с палстиковыми накладками за 6 500 р.
					.side-rel__item-img
						img(src="assets/images/content/side-rel-img-1.jpg", alt="")
			li.side-rel__item
				a.side-rel__link(href="#link")
					.side-rel__item-title чехлы для снегохода
					.side-rel__item-text Весь сентябрь скидка на чехол для снегохода «Буран» за 2 000 р.
					.side-rel__item-img
						img(src="assets/images/content/side-rel-img-2.jpg", alt="")
			li.side-rel__item
				a.side-rel__link(href="#link")
					.side-rel__item-title чехлы для снегохода бурн
					.side-rel__item-text Весь сентябрь скидка на сани ПГК - 2000 с палстиковыми накладками за 6 500 р.
					.side-rel__item-img
						img(src="assets/images/content/side-rel-img-3.jpg", alt="")
							
